.zermatt-demo {
    .quick-search {
        .results {
            .product {
                width: 100%;
                display: flex;
                gap: 2rem;
                &:not(:last-child) {
                    padding-bottom: 1rem;
                    margin-bottom: 1rem;
                    border-bottom: 1px solid #ccc;
                }
                .thumbnail {
                    height: 8rem;
                }
                .info {
                    padding-top: 1rem;
                }
            }
        }
    }
}
