.zermatt-demo {
    .heading {
        .intro {
            font-weight: bolder;
        }
        .github-link {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-top: 4rem;
            width: fit-content;
        }
    }
}
